{{ $currentPage := . }}
{{ $.Scratch.Add "listlinkClasses" "text-sm link text-steel-900  hover-white block brand-font  ma0 w-full py-3 px-4" }}

<!-- TODO: Not getting ismenucurrent -->

<ul class="list-reset inline-block py-0 m-0 scrolling-touch text-center">
  {{ range .Site.Menus.main }}
    <li  class="lg:text-left inline-block m-0 hover-bg-black w-full{{ if .HasChildren }} dont-display-child-until-click{{end}}">

      {{ if .HasChildren }}
        <a href="#{{ .Name | urlize }}" class="uppercase {{ $.Scratch.Get "listlinkClasses" }}{{if $currentPage.IsMenuCurrent   "main" . }} o-50{{end}}">
          {{ .Name }}
          <!-- <img src="/images/ic_keyboard_arrow_down_white_24px.svg" alt="" class="static v-mid text-sm m-0 p-0"> -->
        </a>
        <ul id="{{ .Name | urlize}}" class="list-reset p-0 m-0">
          <li class="m-0 pl-3 brand-font">
            <a href="{{.URL}}" class="{{ $.Scratch.Get "listlinkClasses" }}{{if $currentPage.IsMenuCurrent "main" . }} o-50{{end}}">
              {{ .Name }} Overview
            </a>
          </li>
          {{ range .Children }}
            <li class="m-0 pl-3 brand-font{{if $currentPage.IsMenuCurrent "main" . }} o-50{{end}}">
              <a href="{{.URL}}" class="{{ $.Scratch.Get "listlinkClasses" }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ else }}
        <a href="{{.URL}}" class="uppercase {{ $.Scratch.Get "listlinkClasses" }}{{if $currentPage.IsMenuCurrent "main" . }} bg-steel-500{{end}}">
          {{ .Name }}
        </a>
      {{end}}

    </li>
  {{end}}
</ul>
