{{ $currentPage := . }}
<nav role="navigation">
  <ul class="list-reset p-0 nl2">
    {{ range .Site.Menus.docs.ByWeight }}
      {{ $post := printf "%s" .Post }}
      <li class="text-base w-full hover-bg-light-gray hover-accent-color-light font-extrabold{{ if eq $post "break" }} mb1 border-b border-solid b--moon-gray{{ end }}">
        <a href="{{ if .HasChildren }}javascript:void(0){{ else }}{{ .URL }}{{ end }}" class="js-toggle inline-block w-full link text-gray-500 hover-accent-color-light pl2 pr2 py-2 {{if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }} text-steel-500{{end}}" data-target=".{{ .Identifier }}">{{ .Name }}</a>

        {{- if .HasChildren }}
        <ul class="{{ .Identifier }} desktopmenu animated fadeIn list-reset pl0 bg-light-gray{{if $currentPage.HasMenuCurrent "docs" . }} block{{ else }} hidden{{ end }}">
          {{- range .Children }}
          <li class="text-sm font-normal">
            <a href="{{.URL}}" class="block link hover-bg-gray hover:text-white pl-3 pr2 py-2 {{if $currentPage.IsMenuCurrent "docs" . }}primary-color {{ else }}black {{end}}">
              {{ .Name }}
            </a>
          </li>
          {{- end}}
        </ul>
        {{- end}}
      </li>
    {{- end}}
  </ul>
</nav>
