{{ $currentPage := . }}
{{ $menu := .Site.Menus.docs.ByWeight }}
<ul class="list-reset inline-block py-0 m-0 scrolling-touch text-center">
  {{ range $menu }}{{ $post := printf "%s" .Post }}
    <li  class="text-left inline-block m-0 hover-bg-black w-full{{ if eq $post "break" }} mb-2 border-b border-solid b--mid-gray{{ end }}">
        <a href="{{.URL}}" class="uppercase text-sm link text-steel-200  hover-white block brand-font mb1  ma0 w-full py-2 px-4{{if $currentPage.IsMenuCurrent "main" . }} bg-steel-500{{end}}">
          {{ .Name }}
        </a>
    </li>
  {{end}}
</ul>
