<div  class="globalmenu mobilemenu pb-3 hidden">
    {{ partial "nav-links-global-mobile.html" . }}
</div>
<div  class="docsmenu mobilemenu pb-3 hidden">
    {{ partial "nav-links-docs-mobile.html" . }}
</div>

<div class="flex lg:hidden justify-between">
  <button class="js-toggle flex-auto inline-block lg:hidden text-sm text-center block mt4-ns px-3 py-2 link mr2 text-white bg-steel-900 hover-bg-primary-color border border-solid b--white-40 w-auto" data-target=".globalmenu">Menu</button>

  <button class="js-toggle flex-auto inline-block lg:hidden text-sm text-center block mt4-ns px-3 py-2 link text-white bg-steel-900 hover-bg-primary-color border border-solid b--white-40 w-auto" data-target=".docsmenu">Docs Menu</button>
</div>
