{{ $currentPage := . }}
{{ $currentURL := .RelPermalink }}
<header class="px-4 flex py-4 bg-light-gray">
  <ul class="list-reset m-0 p-0 ">
      <!-- TODO: Active classes -->
      <li class="text-base inline-block mr3 mb-3 sm:mb-0 v-top text-white">
        <a href="/news/" class="link text-steel-900 dim">
            News:
        </a>
      </li>
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        {{ $link :=  $name | printf "%s%s" "/categories/" | printf "%s/" }}
        <li class="text-base inline-block mr3 v-top mr3 mb-3 sm:mb-0">
          <a href="{{ $link }}" class="link {{ if eq $currentURL $link }} bg-steel-900 {{ else }} bg-steel-900 {{ end }} text-white px-3 pv1 rounded hover-bg-accent-color-light">
            {{ $name  | humanize }}
          </a>
        </li>
      {{ end }}
  </ul>
</header>
