<form id="site-search-form" action="" role="search">
  <fieldset class="border-0 border-none m-0 p-0">
    <label class="clip" for="search-input">Search</label>
    <input type="search" id="search-input" class="needs-js bg-left border-0 border-none text-base appearance-none leading-none mt3 sm:mt-0 pl-4 py-2 w-64 text-white" placeholder="Search the Docs" name="search-input" value="" style="background: transparent url('/images/icon-search.png') no-repeat 0 8px /16px 16px;">
  </fieldset>
</form>
