{{ $currentPageUrl := .RelPermalink }}
{{ if and .Params.tags .Site.Taxonomies.tags }}
  {{ $name := index .Params.tags 0 }}
  {{ $name := $name | urlize }}
  {{ $tags := index .Site.Taxonomies.tags $name }}

  <div class="nested-lh-copy">
    <ul class="list-reset inline-block nested-links ml-0 pl0">
      {{ with .Params.tags }}
        <li class="block mb-2 font-bold">
          Tags:
        </li>
        {{ range .}}
          <li class="block lg:inline-block mr3">
            <a class="tag" href="/tags/{{ .|urlize }}">
              {{ . }}
            </a>
          </li>
        {{ end }}
      {{ end }}        
      {{ range $i, $e := $tags.Pages }}
        {{ if eq $i 1 }}
          <li class="block font-bold mt4 mb-2 mr2">
            Related entries:
          </li>
        {{ end }}
        {{ if ne .RelPermalink $currentPageUrl }}
          <li class="block lg:inline-block mb-2 mr3">
            <a href="{{ .RelPermalink }}" class="link">
              {{ .LinkTitle }}
            </a>
          </li>
        {{ end }}
      {{end}}
    </ul>
  </div>
{{end}}
