{{ $author := .context.Params.author }}
{{ if $author }}
  <aside class="mw5 mx-auto bg-white rounded-lg p-3 sm:p-4 mv3 border border-solid b--black-10 nested-links">
    {{ $urlPre := "https://api.github.com" }}
    {{ $user_json := getJSON $urlPre "/users/" $author }}

    <div class="text-center">

      {{ if $user_json.avatar_url }}
        <a href="{{ $user_json.html_url }}" class="link  hover-bg-light-gray p-1 rounded-full">
          <img src="{{ $user_json.avatar_url }}&size={{ .size }}" alt="" class="rounded-full border border-solid border-gray-300">
        </a>
      {{ end }}

      {{ if $user_json.name }}
        <h3 class="text-xl">
          <a href="{{ $user_json.html_url }}" class="link dim">
            {{ $user_json.name }}
          </a>
        </h3>
        <hr class="mw3 border-b border-solid border-2 b--black-10">
      {{ end }}

      {{ if $user_json.bio }}
        <p class="leading-normal max-w-md mx-auto text-sm black-70">
          {{ $user_json.bio }}
        </p>
      {{ end }}

    </div>

  </aside>
{{ end }}
